<h1>Todos</h1>
<%= form_for :task, url: tasks_path do |f| %>
<p>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>

<% @tasks.each do |task| %>
  <p style="font-size: 1.5em">  <%= task.name %> <%= link_to("Edit",edit_task_path(task)) %> <%= link_to("Delete",task_path(task), method: :delete) %>
    <% if task.checked %>
    <%= button_to "" %>
    <% else %>
    <% end %>

  </p>
<% end %>
